<div class="card mt-5">
    <div class="card-body">
      <h5 class="card-title text-center">Badly Explained Movies</h5>
      <hr/>
      <h3 [textContent]="exp"></h3>
      <hr/>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
        </div>
        <input type="text" class="form-control" placeholder="Enter guess here" id="guess" [(ngModel)]="guess.title">
      </div>
      <div class="text-center">
          <button type="button" (click)="checkGuess()" class="btn btn-primary w-75">Submit</button>
      </div>
      <h3 class = "text-center py-3" [textContent]="result"></h3>
      <hr/>
      <div class="text-center">
          <button type="button" (click)="showHint()" class="btn btn-secondary w-75">Show Hint</button>
      </div>
      <h3 class = "text-center py-3" [textContent]="smth"></h3>
      
    </div>
  </div>
